.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20vw;
  @media only screen and (max-width: $Medium) {
    width: 40vw;
    padding-bottom: 4vh;
  }
  &__logo {
    font-size: 4vw;
    color: $Dark-Green;
    margin-bottom: 3vh;
    @media only screen and (max-width: $Small) {
      font-size: 6vw;
    }
  }
  &__txt {
    color: $Dark-Green;
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 2vh;
  }
  &__subtxt {
    color: $Light-Green;
    font-size: 2vh;
    font-weight: 400;
  }
}
.card:hover {
  > h2 {
    color: $Coral;
  }
}
