.contact {
  background-color: $Light-Green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px black;
  &__div {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__squirrel {
      width: 23vw;
    }
    &__title {
      margin-top: 6vh;
      font-size: 4vh;
      color: $Light-Grey;
    }
    &__hr {
      height: 0.5vh;
      color: $Coral;
      background-color: $Coral;
      border-radius: 10px;
      border: none;
      width: 3vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
      @media only screen and (max-width: $Small) {
        width: 10vw;
      }
    }
    &__text {
      font-size: 2vh;
      color: $Light-Grey;
      text-align: center;
    }
    &__ways {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-top: 4vh;
      @media only screen and (max-width: $Small) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        @media only screen and (max-width: $Small) {
          margin-bottom: 3vh;
          width: 50%;
        }
        &__icon {
          font-size: 2vw;
          color: $Dark-Green;
          @media only screen and (max-width: $Medium) {
            font-size: 4vw;
          }
        }
        &__nb {
          margin-top: 3vh;
          font-size: 2vh;
          color: $Coral;
        }
      }
      &__email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        @media only screen and (max-width: $Small) {
          width: 50%;
        }
        &__icon {
          font-size: 2vw;
          color: $Dark-Green;
          @media only screen and (max-width: $Medium) {
            font-size: 4vw;
          }
        }
        &__address {
          margin-top: 3vh;
          font-size: 2vh;
          color: $Coral;
          cursor: pointer;
        }
        &__address:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
