.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d96846;
  &__title {
    color: #2f3020;
  }
  &__subtitle {
    color: #cdcbd6;
    background-color: #596235;
    border-radius: 20px;
    padding: 1vh 2vw;
  }
}
