//////////////////////////////////
////////////////////////// COLORS
//////////////////////////////////

$Coral: #d96846;
$Dark-Green: #2f3020;
$Light-Green: #596235;
$Light-Grey: #cdcbd6;

//////////////////////////////////
//////////////////////////// FONTS
//////////////////////////////////
$Main-font: "Open Sans", "Helvetica Neue", Arial, sans-serif;

//////////////////////////////////
////////////////////////// QUERIES
//////////////////////////////////
$XXLarge: 1440px;
$XLarge: 1349px;
$Large: 1000px;
$Medium: 800px;
$MediumSmall: 642px;
$Small: 600px;
$XSmall: 450px;
