//////////////////////////////////
////////////////////////// COLORS
//////////////////////////////////

$Coral: #d96846;
$Dark-Green: #2f3020;
$Light-Green: #596235;
$Light-Grey: #cdcbd6;

//////////////////////////////////
//////////////////////////// FONTS
//////////////////////////////////
$Main-font: "Open Sans", "Helvetica Neue", Arial, sans-serif;

//////////////////////////////////
////////////////////////// QUERIES
//////////////////////////////////
